{% load static %}
{% load group_tags %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

	<!--css za base stranicu-->
	<link rel="stylesheet" type="text/css" href="{% static 'novosti/base.css' %}">

	<title>RDT novosti</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row content">
			<div class="col-md-2 sidenav">
				<div class="sticky-top">
					<p><a href="{% url 'carousel' %}"><img src="{% static 'novosti/LOGO_RDT.png' %}" alt="RDT_logo" style="width:50%;height:auto;" class="img-circle img-responsive logo_img"/></a></p>

					<ul class="nav nav-pills flex-column">
						<li class="nav-item"><a class="nav-link btn btn-light {% if activate == 'novosti' %} active {% endif %}" href="{% url 'novosti-home' %}">Novosti</a></li>
						<li class="nav-item"><a class="nav-link nav-dropdown-toggle btn btn-light {% if activate == 'galerija' %} active {% endif %}" href="{% url 'galerija' %}">Galerija</a>
						<li class="nav-item"><a class="nav-link btn btn-light {% if activate == 'info' %} active {% endif %}" href="{% url 'novosti-info' %}">Info/Kontakti</a></li>
						<li class="nav-item"><a class="nav-link btn btn-light {% if activate == 'team' %} active {% endif %}" href="{% url 'team_list' %}">Clanovi</a></li>
						<li class="nav-item"><a class="nav-link btn btn-light {% if activate == 'dronovi' %} active {% endif %}" href="{% url 'dronovi-home' %}">Dronovi</a></li>

						<!--
						<li class="nav-item"><a class="nav-link" href="#">Dronovi</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Galerija</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Kviz</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Ucenje</a></li>
						-->
						{% if user.is_authenticated %}
						<li class="nav-item"><a class="nav-link btn btn-light {% if activate == 'kalendar' %} active {% endif %}" href="{% url 'kalendar_leta_default' %}">Kalendar Leta</a></li>
							<li class="nav-item"><a class="nav-link btn btn-light {% if activate == 'kviz' %} active {% endif %}" href="{% url 'kviz:kviz_home' %}">Kviz</a></li>
							<li class="nav-item"><a class="nav-link btn btn-outline-info {% if activate == 'profil' %} active {% endif %}" href="{% url 'profil' user.username %}">Profil</a></li>


							{% if request.user|has_group:"Editors" %}
								<li class="nav-item"><a class="nav-link btn btn-light text-info{% if activate == 'upload' %} active {% endif %}" href="{% url 'galerija-upload' %}">Dodaj Slike</a></li>
								<li class="nav-item"><a class="nav-link btn btn-light text-info{% if activate == 'novi_clanak' %} active {% endif %}" href="{% url 'clanak-create' %}">Novi clanak</a></li>
								<li class="nav-item"><a class="nav-link btn btn-light text-info{% if activate == 'novi_dron' %} active {% endif %}" href="{% url 'dron-create' %}">Novi dron</a></li>
								<li class="nav-item"><a class="nav-link btn btn-light text-info{% if activate == 'kviz_lista' %} active {% endif %}" href="{% url 'kviz:pitanja_lista' %}">Uredivanje Kviza</a></li>
							{% endif %}

							<li class="nav-item"><a class="nav-link btn btn-info" href="{% url 'logout' %}">Odjavi se</a></li>
						{% else %}
							<li class="nav-item"><a class="nav-link btn btn-outline-info" href="{% url 'login' %}">Prijavi se</a></li>
							<li class="nav-item"><a class="nav-link btn btn-info {% if activate == 'registracija' %} active {% endif %}" href="{% url 'registracija' %}">Registriraj se</a></li>
						{% endif %}
					</ul><br>
					<form method="GET" action="{% url 'pretraga' %}">
						{% csrf_token %}
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search . . ." name="value">
						<span class="input-group-btn">
							<button class="btn btn-secondary" type="submit">

								<!--search ikona-->
								<img src="{% static 'novosti/web-serch_w.png' %}" style="width:18px; height:18px;" alt="GO!" class="img-circle img-responsive"/>
							</button>
						</span>
					</div>
					</form>

				</div>
			</div>

			<div class="col-sm-10 background">
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-{{ message.tags }}">
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}

				{% block content %}{% endblock content %}

			</div>
		</div>
	</div>

	<footer>
	Footer text
	</footer>

  </body>
</body>
</html>
