{% extends "novosti/base.html" %}
{% load static %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'galerija/galerija.css'%}">
	<article class="media content-section">
		<img class="rounded-circle article-img" src="{{ object.autor.profil.slika.url }}">

		<div class="media-body">
		   	<div class="article-metadata">
		      	<a class="mr-2" href="{% url 'profil' object.autor.username %}">{{ object.autor }}</a>
			 	<small class="text-muted">{{ object.datum_objave|date:"d. F, Y." }}</small>
			 	{% if object.autor == user %}
			 		<div>
						<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'clanak-update' object.id %}">Uredi</a>
						<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'clanak-delete' object.id %}">Obrisi</a>
					</div>
			 	{% endif %}
			</div>
			<h2 class="article-title">{{ object.naslov }}</h2>
		    <p class="article-content">{{ object.sadrzaj }}</p>
		</div>
	</article>
	{% if images %}
	<div class="content-section" align="center">
    <div id="myModal" class="modal" onclick="this.style.display='none'">
	</div>
    <div id="myModal1" class="modal">
	</div>
	{% for image in images %}
		{% if image.slika %}
			{% if image.image %}
		        <img id="{{image.image.url}}"class="col-md-4 col-lg-1 img-thumbnail" src="{{image.image.url}}" style="max-width: 150px; height: 150px">


				<script>
				// Get the modal
				var modal = document.getElementById('myModal');

				var img = document.getElementById('{{image.image.url}}');
				var modalImg = document.getElementById("myModal");
				img.onclick = function(){
					myModal.innerHTML += "<span id='close1' class='close'>&times;</span><img src='{{image.image.url}}' class='modal-content' id='img01'>";
					//Ovdje mijenjas sto zelis da ti ispise ispod slika
					myModal.innerHTML += "<div class='card' style='width: 50%'>{%if image.clanak.naslov%}<p>Clanak = {{image.clanak.naslov}}</p>{%endif%} {%if image.autor.profil%}<p>Autor = {{image.autor.profil.ime}} {{image.autor.profil.prezime}}</p>{%endif%}{%if image.dron.naziv%}<p>Dron = {{image.dron.naziv}}</p>{%endif%}</div>";
					modal.style.display = "block";
					var span = document.getElementsByClassName("close")[0];

					// When the user clicks on <span> (x), close the modal
					span.onclick = function() {
						myModal.innerHTML = "";
						modal.style.display = "none";
					}
					modalImg.onclick = function() {
						myModal.innerHTML = "";
						modal.style.display = "none";
					}
				}

				// Get the <span> element that closes the modal
				</script>
			{% endif %}
		{% else %}
			{% if image.image %}
				<video id="{{image.image.url}}" class="col-md-4 col-lg-1 img-thumbnail" style="max-width:150px; position:relative;top:50%">
			        <source src="{{image.image.url}}" type="video/mp4">
		        </video>

				<script>
				// Get the image and insert it inside the modal - use its "alt" text as a caption
				var vid = document.getElementById('{{image.image.url}}');
				console.log(vid.id);
				vid.onclick = function(){

					source = document.getElementById('{{image.image.url}}');
					myModal1.innerHTML += "<span id='close1' class='close'>&times;</span><video class='modal-content' id='vid01' controls><source src=" + source.id + "></video>";
					//Ovdje uredujes sto zelis da ti ispise ispod videa
					myModal1.innerHTML += "<div class='card' style='width: 50%'>{%if image.clanak.naslov%}<p>Clanak = {{image.clanak.naslov}}</p>{%endif%} {%if image.autor.profil%}<p>Autor = {{image.autor.profil.ime}} {{image.autor.profil.prezime}}</p>{%endif%}{%if image.dron.naziv%}<p>Dron = {{image.dron.naziv}}</p>{%endif%}</div>";
					myModal1.style.display = "block";

					// Get the <span> element that closes the modal
					var span = document.getElementById("close1");
					// When the user clicks on <span> (x), close the modal
					span.onmouseup = function() {
					  myModal1.style.display = "none";
					  document.getElementById("vid01").pause();
					  myModal1.innerHTML = "";
					}
				}
				</script>
			{% endif %}
		{% endif %}
	{% endfor %}
	</div>
	{% endif %}
{% endblock content %}