{% extends "novosti/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %} <!--form security, django requires-->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Clanak</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				{% if object %}
					<a class="btn btn-secondary " href="{% url 'clanak-slike' object.id %}">Uredi slike</a>
				{% endif %}
				<button class="btn btn-outline-info" type="submit">Objavi</button>
			</div>
		</form>
	</div>

{% endblock content %}