{% extends "novosti/base.html" %}

{% block content %}
	<div class="content-section">
		<h2>RiTeh Drone Team - Info</h2><br>
		<h3>Motivacija</h3>
		<p>Entuzijazam 
i želja za razvojem letjelica i tehnologija vezanih uz iste: 
računalni vid, autonomija, GPS sustav, radio komunikacija...</p>
		<h3>Ciljevi</h3>
		<p><ul>
			<li>Omogućiti snimanje događaja iz zraka za potrebe Sveučilišta u Rijeci</li>

			<li>Razvoj novih tehnologija vezanih za bespilotne letjelice te znastvenog napretka u području bespilotnih letjelica sa četiri i više motora te jedrilica</li>

			<li>Ostvarivanje odnosa sa službama za spašavanje Republike Hrvatske te uspostava zajednickih projekata</li>

			<li>Izrada znanstvenih radova te prisustvovanje konferencijama </li>

			<li>Doprinos zajednici i širenje suradnje fakulteta i industrije</li>

			<li>Mogućnost korištenja letjelica i u komercijalne svrhe</li>
		</ul></p>

		<h3>Djelovanje RiTeh Drone Team-a</h3>
		<p><ul>
			<li>Rad Riteh Drone Team-a je projektno vođen, što znači da njegov rad neće biti fokusiran samo na jedan specifični projekt istovremeno</li>

			<li>Svaki projekt će imati vođu projekta koji je zadužen za njegovu provedbu u skladu sa postavljenim ciljevima i rokovima</li>

			<li>Ciljevi i vremenski rokovi definiraju se na početku projekta, te ovise o dogovoru između članova koji rade na tom projektu</li>

			<li>Odabir projekata i postavljanje ciljeva biti će ostvareno dogovorom i raspravom svih članova Riteh Drone Team-a </li>

			<li>Projekti će biti vođeni putem online servisa kako bi u svakom trenutku bio moguć uvid u stanje projekta</li>
		</ul></p>

		<h3>Moguci projekti</h3>
		<p><ul>
			<li>Projekt razvoja autonomije letjelice koji obuhvaća aktivnosti poput sletanja na vodu i automatskog punjenja baterije</li>

			<li>Razvoj First Person View upravljanja letjelice</li>

			<li>Prenošenje i dostava manjih paketa na području grada Rijeke putem GPS navođenja</li>

			<li>3D mapiranje prostora uz pomoć lidar kamera </li>

			<li>Fotogrametrija</li>

			<li>Detekcija anomalija (požari...) na nedostupnim područjima</li>

			<li>Omogućiti 3D pogled iz letjelice uz pomoć Virtual Reality tehnologije i headtracking-a</li>
		</ul></p>
	</div>
{% endblock content %}