{% extends "novosti/base.html" %}

{% block content %}
	{% for post in posts %}

	<article class="media content-section">
		<img class="rounded-circle article-img" src="{{ post.autor.profil.slika.url }}">

		<div class="media-body">
		   	<div class="article-metadata">
		      	<a class="mr-2" href="{% url 'profil' post.autor.username %}">{{ post.autor }}</a>
			 	<small class="text-muted">{{ post.datum_objave|date:"d. F, Y." }}</small>
			</div>
			<h2><a class="article-title" href="{% url 'clanak-detail' post.id %}">{{ post.naslov }}</a></h2>
		    <p class="article-content">{{ post.sadrzaj|truncatewords:30 }}</p>
		</div>
	</article>
	{% endfor %}
	
	{% if is_paginated %}

		{% if page_obj.has_previous %}
			<a class="btn btn-outline-dark mb-4" href="?page=1">Prva</a>
			<a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}">Prethodna</a>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">Sljedeca</a>
			<a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">Zadnja</a>
		{% endif %}

	{% endif %}

{% endblock content %}
