{% extends "novosti/base.html" %}

{% block content %}

	{% for post in posts %}

	<article class="media content-section">
		<img class="rounded-circle article-img" src="{{ post.autor.profil.slika.url }}">

		<div class="media-body">
		   	<div class="article-metadata">
		      	<a class="mr-2" href="{% url 'profil' post.autor.username %}">{{ post.autor }}</a>
			 	<small class="text-muted">{{ post.datum_objave|date:"d. F, Y." }}</small>
			</div>
			<h2><a class="article-title" href="{% url 'clanak-detail' post.id %}">{{ post.naslov }}</a></h2>
		    <p class="article-content">{{ post.sadrzaj }}</p>
		</div>
	</article>
	{% endfor %}


		{% if posts.has_previous %}
			<a class="btn btn-outline-dark mb-4" href="?csrfmiddlewaretoken={{ request.GET.csrfmiddlewaretoken }}&value={{ request.GET.value }}&page=1">Prva</a>
			<a class="btn btn-outline-dark mb-4" href="?csrfmiddlewaretoken={{ request.GET.csrfmiddlewaretoken }}&value={{ request.GET.value }}&page={{ posts.previous_page_number }}">Prethodna</a>
		{% endif %}

		{% for num in posts.paginator.page_range %}
			{% if posts.number == num %}
				<a class="btn btn-dark mb-4" href="?csrfmiddlewaretoken={{ request.GET.csrfmiddlewaretoken }}&value={{ request.GET.value }}&page={{ num }}">{{ num }}</a>
			{% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
				<a class="btn btn-outline-dark mb-4" href="?csrfmiddlewaretoken={{ request.GET.csrfmiddlewaretoken }}&value={{ request.GET.value }}&page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if posts.has_next %}
			<a class="btn btn-outline-dark mb-4" href="?csrfmiddlewaretoken={{ request.GET.csrfmiddlewaretoken }}&value={{ request.GET.value }}&page={{ posts.next_page_number }}">Sljedeca</a>
			<a class="btn btn-outline-dark mb-4" href="?csrfmiddlewaretoken={{ request.GET.csrfmiddlewaretoken }}&value={{ request.GET.value }}&page={{ posts.paginator.num_pages }}">Zadnja</a>
		{% endif %}

{% endblock content %}