{% extends "novosti/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
	<div class="content-section">
		<div class="mt-4">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<h5>Dodaj slike:</h5>
				{{ form|crispy }}
				<input type="submit" value="Dodaj" class="btn btn-outline-info">
			</form>
		</div>
	</div>

	<div class="content-section">
		<h3>Uredi slike</h3>
		<div>
			{% for image in slike %}
				{% if image.slika %}
			        <div class="container-custom mt-1 mb-1">
			        	<img src="{{image.image.url}}" style="width:100%">
			        	<a class="btn btn-danger btn-custom" href="{% url 'slika-obrisi' image.pk %}">Delete</a>
			        </div>
			    {% else %}
			     <div class="container-custom mt-1 mb-1">
			    	<video id="{{image.image.url}}" style="width:100%;">
			        <source src="{{image.image.url}}" type="video/mp4">
		        </video>
		        	<a class="btn btn-danger btn-custom" href="{% url 'slika-obrisi' image.pk %}">Delete</a>
		        </div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock content %}
