{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'galerija/galerija.css'%}">
    <title></title>
  </head>
  <body>
  <!--<h1 align="center"><b>Galerija Slika</b></h1> -->
  <div class="content-section carousel" align="center">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{images.0.image.url}}" class="d-block w-100" style="max-width: 500px; height: 400px;">
        </div>
        <div class="carousel-item">
          <img src="{{images.1.image.url}}" class="d-block w-100" style="max-width: 500px; height: 400px;">
        </div>
        <div class="carousel-item">
          <img src="{{images.2.image.url}}" class="d-block w-100" style="max-width: 500px; height: 400px;">
        </div>
        <div class="carousel-item">
          <img src="{{images.3.image.url}}" class="d-block w-100" style="max-width: 500px; height: 400px;">
        </div>
        <div class="carousel-item">
          <img src="{{images.4.image.url}}" class="d-block w-100" style="max-width: 500px; height: 400px;">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="span6" align="center" style="margin-top:20px">
    <div class="btn-group-vertical">
      <a href="{%url 'novosti-home'%}"><button class="btn btn-primary btn-lg" style="margin-right:100px;"> Guests </button></a>
      <a href="{%url 'subscribe'%}" style="margin-right:100px; margin-left:65px;" class="mt-2 small">Subscribe</a>
    </div>
    <div class="btn-group-vertical">
      <a href="{%url 'login'%}"><button class="btn btn-outline-primary btn-lg" style="margin-left:100px; "> Login </button></a>
      <a href="{%url 'registracija'%}" style="margin-left:170px;" class="mt-2 small">Register</a>
    </div>
  </div>
</body>
</html>

