{% extends "novosti/base.html" %}
{% load static %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'galerija/galerija.css'%}">
	<h1 align="center"><b>Galerija Videozapisa</b></h1>
	<div class="content-section col-md-12" align="center">
	{% for video in videos %}
		{% if video.video %}
		        <video id="{{video.video.url}}" class="col-md-4 col-lg-1 img-thumbnail" style="
		        																			   max-width: 150px; 
		        																			   position: relative;
																							   top: 50%;
				">
		        	<source src="{{video.video.url}}" type="video/mp4">
		        </video>
		        <div id="myModal1" class="modal">
				  <span class="close close1">&times;</span>
				  <video class="modal-content" id="vid01" controls>
				  	<source src="{{video.video.url}}" type="video/mp4">
				  </video>
				</div>

				<script>
				
				// Get the image and insert it inside the modal - use its "alt" text as a caption
				var img = document.getElementById('{{video.video.url}}');
				var modalImg = document.getElementById("vid01");
				img.onclick = function(){
				  myModal1.style.display = "block";
				}

				// Get the <span> element that closes the modal
				var span = document.getElementsByClassName("close1")[0];

				// When the user clicks on <span> (x), close the modal
				span.onclick = function() { 
				  myModal1.style.display = "none";
				}
				</script>
		{% endif %}
	{% endfor %}
	</div>
{% endblock content %}