{% extends "novosti/base.html" %}

{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %} <!--form security, django requires-->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Obrisi Sliku</legend>
				<h2>Jeste li sigurni da zelite obrisati sliku "{{ object.image }}"</h2>
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-danger" type="submit">Obrisi</button>
				{% if object.clanak %}
				<a class="btn btn-outline-secondary" href="{% url 'clanak-detail' object.clanak.id %}">Odustani</a>
				{% else %}
					<a class="btn btn-outline-secondary" href="{% url 'galerija' %}">Odustani</a>
				{% endif %}
			</div>
		</form>
	</div>

{% endblock content %}