{% extends "novosti/base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
	<div class="content-section">
		<div class="container-custom mt-1 mb-1">
			<img src="{{image.image.url}}">
		</div>

		<form method="POST">
			{% csrf_token %} <!--form security, django requires-->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Uredi sliku</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Spremi</button>
				<a class="btn btn-danger" href="{% url 'galerija-delete' image.id %}">Obrisi</a>
			</div>
		</form>
	</div>

{% endblock content %}