{% extends "novosti/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
	<div class="content-section">
		<h3>Dodaj slike</h3>
		<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form|crispy }}
		<input type="submit" value="Dodaj" class="btn btn-outline-info">
	</form>
	</div>
{% endblock content %}