{% extends "novosti/base.html" %}

{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %} <!--form security, django requires-->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Obrisi Dron</legend>
				<h2>Jeste li sigurni da zelite obrisati dron "{{ object.naziv }}"</h2>
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-danger" type="submit">Obrisi</button>
				<a class="btn btn-outline-secondary" href="{% url 'dron-detail' object.id %}">Odustani</a>
			</div>
		</form>
	</div>

{% endblock content %}