{% extends "novosti/base.html" %}

{% block content %}

	{% for dron in drones %}
		<div class="content-section media">
	    	<img class="rounded-circle account-img" src="{{ dron.slika.url }}">
	    	<div class="media-body pt-4">
	      		<a class="account-heading article-title" href="{% url 'dron-detail' dron.id %}">{{ dron.naziv }}</a>
	      		<p class="text-secondary">{{ dron.registracija }}</p>
	    	</div>
	  	</div>

	{% endfor %}
	
	{% if is_paginated %}

		{% if drones.has_previous %}
			<a class="btn btn-outline-dark mb-4" href="?page=1">Prva</a>
			<a class="btn btn-outline-dark mb-4" href="?page={{ drones.previous_page_number }}">Prethodna</a>
		{% endif %}

		{% for num in drones.paginator.page_range %}
			{% if drones.number == num %}
				<a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > drones.number|add:'-3' and num < drones.number|add:'3' %}
				<a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if drones.has_next %}
			<a class="btn btn-outline-dark mb-4" href="?page={{ drones.next_page_number }}">Sljedeca</a>
			<a class="btn btn-outline-dark mb-4" href="?page={{ drones.paginator.num_pages }}">Zadnja</a>
		{% endif %}

	{% endif %}

{% endblock content %}