{% extends "novosti/base.html" %}
{%load crispy_forms_tags%}
{% block content %}
  <div id="content-main" class="row">
    <div class="col-sm-4">
      <a href="{%url 'rezervacija_leta'%}" class="btn btn-info"> Rezerviraj Drona </a>
    </div>
    <div class="col-sm-4 text-center">
      <form id="forma" class="" action="#" method="post">
        {%csrf_token%}
        <input type="number" id="god" name="god" value="" min="2015" max="" style="width:75px">
        <input type="number" id="mj" name="mj" value="" min="1" max="12" style="width:50px">
        <button type="submit" name="button" class="btn btn-outline-dark btn-sm" onClick="klik()">Go</button>
      </form>
    </div>
    <div class="col-sm-4 text-right">
      <a id="prev" href="" class="btn btn-info">Predhodni</a>
      <a id ="next" href="" class="btn btn-info">Sljedeci</a>
    </div>
  </div>
  <hr>
  <script type="text/javascript">
    //skripta koja odreduje sljedeci i predhodni mjesec
    var putN = window.location.pathname.split('/');
    var putP = window.location.pathname.split('/');

      document.getElementById("god").max = (new Date()).getFullYear() + 10;
      document.getElementById("god").value = Number(putN[3]);
      document.getElementById("mj").value = Number(putN[4]);

    putN[4] = String(Number(putN[4]) + 1);
    putP[4] = String(Number(putP[4]) - 1);
    if (putN[4] > 12){
      putN[4] = 1;
      putN[3] = String(Number(putN[3]) + 1);
    }
    if (putP[4] < 1){
      putP[4] = 12;
      putP[3] = String(Number(putP[3]) - 1);
    }
    putN = putN.join("/");
    putP = putP.join("/");
    document.getElementById("next").href = putN;
    document.getElementById("prev").href = putP;
  </script>
  <script type="text/javascript">
    //skripta koja odreduje sljedeci i predhodni mjesec
    //fj-koja nas salje na neku godinu/mjesec
    function klik(){
      var put = window.location.pathname.split('/');
      put[3] = String(Number(document.getElementById("god").value));
      put[4] = String(Number(document.getElementById("mj").value));
      put = put.join("/");
      document.getElementById("forma").action = put;
    }
  </script>
  <div class="content-section">
    {{ kalendar }}
  </div>
{% endblock content %}
