<h1>{{pitanje.text_pitanja}}</h1>
{%if error_message%}
<p><strong>{{error_message}}</strong></p>
{%endif%}

<form class="" action="{%url 'kviz:pitnaje_odg' pitanje.id%}" method="post">
  {%csrf_token%}
  {%for odg in pitanje.odgovori_set.all%}
    <input type="radio" name="odg" value="{{odg.id}}" id="odg{{forloop.counter}}">
    <label for="odg{{forloop.counter}}">{{odg.text_odgovora}}</label>
    <br>
  {% endfor %}
  <input type="submit" name="" value="odgovori">
</form>
