{% extends "novosti/base.html" %}

{% block content %}

  <p id="cnt"></p>

  <script>
  // Set the date we're counting down to
  var countDownDate = new Date().getTime()+1230000;

  // Update the count down every 1 second
  var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="cnt"
    document.getElementById("cnt").innerHTML =/*days + " " + hours + " " +*/ minutes + "m " + seconds + "s ";

    // If the count down is over, write some text
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("cnt").innerHTML = "KVIZ JE ZAVRSIO";
      document.getElementById("kviz").submit()
    }
  }, 1000);
  </script>

<div class="content-section">
  <h2>Priprema za teorijski ispit</h2>

  <form id="kviz" method="POST" action="{% url 'kviz:rezultati' %} " autocomplete="off">
    {%csrf_token%}

    <hr>
    <div class="container">
    <div id="accordion">
      {%for pitanje in lista_pitanja%}
      <div class="card">
        <div class="card-header bg-light">
          <a class="card-link text-dark" data-toggle="collapse" href="#link{{pitanje.id}}">
            <h3>{{ forloop.counter }}. {{ pitanje.text_pitanja }}</h3>
          </a>
        </div>
        <div id="link{{pitanje.id}}" class="collapse" data-parent="#accordion">
          <div class="card-body">
            {%for odg in pitanje.odgovori_set.all%}
            <input type="radio" name="odg{{pitanje.id}}" value="{{odg.id}}" id="odg{{odg.id}}">
            <label for="odg1">{{odg.text_odgovora}}</label><br>
            {% endfor %}
          </div>
        </div>
      </div>
      <hr>
      {%endfor%}
    </div>
    </div>
    <input class="btn btn-outline-info" type="submit" name="" value="Odgovori">
  </form>
</div>

{% endblock content %}
