{% extends "novosti/base.html" %}
{% load group_tags %}
{% block content %}
{% if request.user|has_group:"Editors" %}
<div id="content-main" class="container">
  <a href="{%url 'kviz:pitanje_add'%}" class="btn btn-info">Novo Pitanje </a>
  <a href="{%url 'kviz:odgovor_add'%}" class="btn btn-info">Novi Odgovor </a>
</div>
<hr>
<div class="content-section">
  <ul class="nav nav-pills nav-fill mt-2">
    <li class="nav-item">
      <a href="#pills_pitanja" class="nav-link {%if not odg%} active {%endif%}" id="pills_pitanja_tab" data-toggle="pill" role="tab" aria-controls="pills_pitanja" aria-selected="true">Pitanja</a>
    </li>
    <li class="nav-item">
      <a href="#pills_odg" class="nav-link show {%if odg%} active {%endif%}" id="pills_odg_tab" data-toggle="pill" role="tab" aria-controls="pills_odg" aria-selected="true">Odgovori</a>
    </li>
  </ul>
  <div class="tab-content" id="tab_content">
    <div class="tab-pane fade show {%if not odg%} active {%endif%}" id="pills_pitanja" role="tabpanel" aria-labelledby="pills_pitanja_tab">
      {%for pitanje in pitanja%}
        <hr>
        <div class="media media-body pt-4">
          <h4><a href="{% url 'kviz:pitanje_detalji' pitanje.id%}" class="text-dark">{{pitanje.text_pitanja}}</a></h4>
        </div>
        <hr>
      {%endfor%}

      {% if pitanja.has_previous %}
        <a class="btn btn-outline-dark mb-4" href="?page=1">Prva</a>
        <a class="btn btn-outline-dark mb-4" href="?page={{ pitanja.previous_page_number}}">Prethodna</a>
      {% endif %}

      {% for num in pitanja.paginator.page_range %}
        {% if pitanja.number == num %}
          <a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > pitanja.number|add:'-3' and num < pitanja.number|add:'-3' %}
          <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor%}

      {% if pitanja.has_next %}
        <a class="btn btn-outline-dark mb-4" href="?page={{ pitanja.next_page_number }}">Sljedeca</a>
        <a class="btn btn-outline-dark mb-4" href="?page={{ pitanja.paginator.num_pages }}">Zadnja</a>
      {% endif %}
    </div>

    <div class="tab-pane fade show {%if odg%} active {%endif%}" id="pills_odg" role="tabpanel" aria-labelledby="pills_odg_tab">
      {% for odgovor in odgovori %}
      <hr>
        <div class="media-body pt-4 media">
          <h4><a href="{% url 'kviz:odgovor_detalji' odgovor.id %}"  class="text-dark">{{ odgovor.text_odgovora }}</a></h4>
        </div>
      <hr>
      {% endfor %}

      {% if odgovori.has_previous %}
        <a class="btn btn-outline-dark mb-4" href="?page=1&odg=1">Prva</a>
        <a class="btn btn-outline-dark mb-4" href="?page={{ odgovori.previous_page_number }}&odg=1">Prethodna</a>
      {% endif %}

      {% for num in odgovori.paginator.page_range %}
        {% if odgovori.number == num %}
          <a class="btn btn-dark mb-4" href="?page={{ num }}&odg=1">{{ num }}</a>
        {% elif num > odgovori.number|add:'-3' and num < odgovori.number|add:'3' %}
          <a class="btn btn-outline-dark mb-4" href="?page={{ num }}&odg=1">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if odgovori.has_next %}
        <a class="btn btn-outline-dark mb-4" href="?page={{ odgovori.next_page_number }}&odg=1">Sljedeca</a>
        <a class="btn btn-outline-dark mb-4" href="?page={{ odgovori.paginator.num_pages }}&odg=1">Zadnja</a>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}
