{% extends "novosti/base.html" %}
{% load group_tags %}
{% block content %}

{% if request.user|has_group:"Editors" %}
  <div class="container">
		<div id="content-main" class="float-left">
			<a href="{%url 'kviz:pitanje_add'%}" class="btn btn-info">Novo Pitnaje </a>
			<a href="{%url 'kviz:odgovor_add'%}" class="btn btn-info">Novi Odgovor </a>
		</div>
		<div id="content-main" class="float-right">
			<a href="{%url 'kviz:pitanja_lista'%}" class="btn btn-info">Pitanja </a>
		</div>
    <br><br>
  </div>
		<hr>
		<div class="content-section">
	{% for odgovor in odgovori %}
	    	<div class="media-body pt-4 media">
	      		<a class="account-heading article-title" href="{% url 'kviz:odgovor_detalji' odgovor.id %}">{{ odgovor.text_odgovora }}</a>
				</div>
	{% endfor %}
	  	</div>

	{% if is_paginated %}

		{% if odgovori.has_previous %}
			<a class="btn btn-outline-dark mb-4" href="?page=1">Prva</a>
			<a class="btn btn-outline-dark mb-4" href="?page={{ odgovori.previous_page_number }}">Prethodna</a>
		{% endif %}

		{% for num in odgovori.paginator.page_range %}
			{% if odgovori.number == num %}
				<a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > odgovori.number|add:'-3' and num < odgovori.number|add:'3' %}
				<a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if odgovori.has_next %}
			<a class="btn btn-outline-dark mb-4" href="?page={{ odgovori.next_page_number }}">Sljedeca</a>
			<a class="btn btn-outline-dark mb-4" href="?page={{ odgovori.paginator.num_pages }}">Zadnja</a>
		{% endif %}

	{% endif %}
{% endif %}
{% endblock content %}
