{% extends "novosti/base.html" %}
{% load group_tags %}
{% block content %}

	<div class="content-section media">
	   	<div class="media-body pt-4">
	   		{% if request.user|has_group:"Editors" %}
				<div>
					<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'kviz:odgovor_update' object.id %}">Uredi</a>
					<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'kviz:odgovor_delete' object.id %}">Obrisi</a>
				</div>
			{% endif %}
	   		<h2 class="account-heading article-title">{{ object.text_odgovora }}</h2>
          <p class="text-secondary">{{ object.tocan }}</p>
          <p class="text-secondary">{{ object.pitanje }}</p>
	   	</div>
	</div>

{% endblock content %}
