{% extends "novosti/base.html" %}
{% load group_tags %}
{% block content %}

{% if request.user|has_group:"Editors" %}
	<div class="container">
		<div id="content-main" class="float-left">
			<a href="{%url 'kviz:pitanje_add'%}" class="btn btn-info">Novo Pitnaje </a>
			<a href="{%url 'kviz:odgovor_add'%}" class="btn btn-info">Novi Odgovor </a>
		</div>
		<div id="content-main" class="float-right">
			<a href="{%url 'kviz:odgovori_lista'%}" class="btn btn-info">Odgovori </a>
		</div>
		<br><br>
	</div>
		<hr>
		<div class="content-section">
	{% for pitanje in pitanja %}
	    	<div class="media-body pt-4 media">
	      		<a class="account-heading article-title" href="{% url 'kviz:pitanje_detalji' pitanje.id %}">{{ pitanje.text_pitanja }}</a>
				</div>
	{% endfor %}
	  	</div>

	{% if is_paginated %}

		{% if pitanja.has_previous %}
			<a class="btn btn-outline-dark mb-4" href="?page=1">Prva</a>
			<a class="btn btn-outline-dark mb-4" href="?page={{ pitanja.previous_page_number }}">Prethodna</a>
		{% endif %}

		{% for num in pitanja.paginator.page_range %}
			{% if pitanja.number == num %}
				<a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > pitanja.number|add:'-3' and num < pitanja.number|add:'3' %}
				<a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if pitnaja.has_next %}
			<a class="btn btn-outline-dark mb-4" href="?page={{ pitnaja.next_page_number }}">Sljedeca</a>
			<a class="btn btn-outline-dark mb-4" href="?page={{ pitanja.paginator.num_pages }}">Zadnja</a>
		{% endif %}

	{% endif %}
{% endif %}
{% endblock content %}
