{% extends "novosti/base.html" %}
{% load group_tags %}
{% block content %}

	<div class="content-section media">
	   	<div class="media-body pt-4">
	   		{% if request.user|has_group:"Editors" %}
				<div>
					<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'kviz:pitanje_update' object.id %}">Uredi</a>
					<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'kviz:pitanje_delete' object.id %}">Obrisi</a>
				</div>
			{% endif %}
	   		<h2 class="account-heading article-title">{{ object.text_pitanja }}</h2>
        {%for odg in object.odgovori_set.all%}
          <p class="text-secondary">{{forloop.counter}}. {{ odg.text_odgovora }}</p>
        {% endfor %}
	   	</div>
	</div>

{% endblock content %}
