{% extends "novosti/base.html" %}
{% block content %}

<div class="content-section">
	<h3>Vas rezultat je:</h3>
	<h4 class="text-success">{{ score }}/{{ brpit }}</h4>
	<p><a class="btn btn-secondary btn-sm" href="{% url 'kviz:kviz_home' %}">Ponovno rjesi kviz</a></p>
</div>
{% endblock content%}
