.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10000; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: auto; /* Full width */
	height: 100vh; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9);
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.modal-content {
	margin: auto;
	display: block;
	width: auto;
	height: auto;
	max-width: 100vw;
	max-height: 95vh;
	animation-name: zoom;
  	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.img-thumbnail {
	transition: 0.3s;
	cursor: pointer;
}

.img-thumbnail:hover {opacity: 0.7;}

.carousel {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
	background: black;
}

