{% extends "novosti/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %} <!--form security, django requires-->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Ulogiraj se!</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Login</button>
				<small class="text-muted ml-2"><a href="{% url 'password_reset' %}">Zaboravili ste lozinku?</a></small>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				Trebate racun?
				<a class="ml-2" href="{% url 'registracija' %}">Registriraj se</a>
			</small>
		</div>
	</div>

{% endblock content %}