{% extends "novosti/base.html" %}

{% block content %}
	<div class="content-section">
		<h2>Uspjesno ste izasli iz korisnickog racuna</h2>
		<div class="border-top pt-3">
			<small class="text-muted">
				<a href="{% url 'login' %}">Ulogiraj se</a>
			</small>
		</div>
	</div>

{% endblock content %}