{% extends "novosti/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
	<div class="content-section">
		<!-- enctype za spremanje slike, inace vj nece radit -->
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %} <!--form security, django requires-->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Uredi profil</legend>
				{{ u_form|crispy }}
				{{ p_form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Spremi</button>
			</div>
		</form>
	</div>

{% endblock content %}