{% extends "novosti/base.html" %}
{% load crispy_forms_tags %}
{% load group_tags %}
{% block content %}
	<div class="content-section">

	  	<div class="media">
	    	<img class="rounded-circle account-img" src="{{ object.profil.slika.url }}">
	    	<div class="media-body pt-4">
	      		<h2 class="account-heading">{{ object.username }}</h2>
						{% if request.user.is_superuser and request.user != object %}
						<span class="float-right">
							<a href="{% url 'user-delete' object.pk %}"><button class="btn btn-danger">Ban user</button></a>
							<form class="" method="post">
								{%csrf_token%}
								{% if object|has_group:"Editors"%}
									<button type="submit" name="editor" value="remove" class="btn btn-outline-dark">Remove editor</button>
								{% else %}
									<button type="submit" name="editor" value="add" class="btn btn-outline-dark">Add editor</button>
								{% endif %}
							</form>
						</span>
						{%endif%}
	      		<p class="text-secondary">{{ object.email }}</p>
	      		<p><span class="text-info">Ime i Prezime:</span> {{ object.profil.ime }} {{ object.profil.prezime }}</p>
	      		<p><span class="text-info">Zanimanje:</span> {{ object.profil.zanimanje }}</p>
	      		<p><span class="text-info">Broj:</span> {{ object.profil.broj }}</p>
	    	</div>
	  	</div>
	  	{% if object == user %}
	  		<a class="btn btn-outline-secondary" href="{% url 'profil-uredi' %}">Uredi</a>
	  	{% endif %}
	  	<ul class="nav nav-pills nav-fill mt-2">
		  <li class="nav-item">
		    <a class="nav-link {%if not kviz %} active {%endif%}" id="pills-clanci-tab" data-toggle="pill" href="#pills-clanci" role="tab" aria-controls="pills-clanci" aria-selected="true">Članci</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link {%if kviz %} active {%endif%}" id="pills-kviz-tab" data-toggle="pill" href="#pills-kviz" role="tab" aria-controls="pills-kviz" aria-selected="true">Kviz</a>
		  </li>
		</ul>
	</div>

	<div class="tab-content" id="tabContent">
		<div class="tab-pane fade show {%if not kviz %} active {%endif%}" id="pills-clanci" role="tabpanel" aria-labelledby="pills-clanci-tab">
			{% for post in posts %}

			<article class="media content-section">
				<img class="rounded-circle article-img" src="{{ post.autor.profil.slika.url }}">

				<div class="media-body">
				   	<div class="article-metadata">
				      	<a class="mr-2" href="{% url 'profil' post.autor.username %}">{{ post.autor }}</a>
					 	<small class="text-muted">{{ post.datum_objave|date:"d. F, Y." }}</small>
					</div>
					<h2><a class="article-title" href="{% url 'clanak-detail' post.id %}">{{ post.naslov }}</a></h2>
				    <p class="article-content">{{ post.sadrzaj }}</p>
				</div>
			</article>
			{% endfor %}


			{% if posts.has_previous %}
				<a class="btn btn-outline-dark mb-4" href="?page=1">Prva</a>
				<a class="btn btn-outline-dark mb-4" href="?page={{ posts.previous_page_number }}">Prethodna</a>
			{% endif %}

			{% for num in posts.paginator.page_range %}
				{% if posts.number == num %}
					<a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
				{% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
					<a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
				{% endif %}
			{% endfor %}

			{% if posts.has_next %}
				<a class="btn btn-outline-dark mb-4" href="?page={{ posts.next_page_number }}">Sljedeca</a>
				<a class="btn btn-outline-dark mb-4" href="?page={{ posts.paginator.num_pages }}">Zadnja</a>
			{% endif %}
		</div>

		<div class="tab-pane fade show {%if kviz%} active {%endif%}" id="pills-kviz" role="tabpanel" aria-labelledby="pills-kviz-tab">
			{% for rezultat in rezultati %}

			<article class="media content-section">
				<div class="media-body">
				   	<div class="article-metadata">
				      	<a class="mr-2" href="{% url 'profil' rezultat.user.username %}">{{ rezultat.user }}</a>
					 	<small class="text-muted">{{ rezultat.datum_rjesavanja|date:"d. F, Y." }}</small>
					</div>
					<div class="progress mt-4 {%if rezultat.rezultat == 0%} bg-danger {%endif%}">
					  <div class="progress-bar {%if rezultat.rezultat >= 80%} bg-success {%endif%} {%if rezultat.rezultat < 80%} bg-danger {%endif%}" role="progressbar" style="width: {{ rezultat.rezultat }}% " aria-valuenow="{{ rezultat.rezultat }}" aria-valuemin="0" aria-valuemax="100">
					  	{{ rezultat.rezultat }}%
					  </div>
					</div>
				    <p class="article-content"></p>
				</div>
			</article>
			{% endfor %}

			{% if rezultati.has_previous %}
				<a class="btn btn-outline-dark mb-4" href="?page=1&kviz=1">Prva</a>
				<a class="btn btn-outline-dark mb-4" href="?page={{ rezultati.previous_page_number }}&kviz=1">Prethodna</a>
			{% endif %}

			{% for num in rezultati.paginator.page_range %}
				{% if rezultati.number == num %}
					<a class="btn btn-dark mb-4" href="?page={{ num }}&kviz=1">{{ num }}</a>
				{% elif num > rezultati.number|add:'-3' and num < rezultati.number|add:'3' %}
					<a class="btn btn-outline-dark mb-4" href="?page={{ num }}&kviz=1">{{ num }}</a>
				{% endif %}
			{% endfor %}

			{% if rezultati.has_next %}
				<a class="btn btn-outline-dark mb-4" href="?page={{ rezultati.next_page_number }}&kviz=1">Sljedeca</a>
				<a class="btn btn-outline-dark mb-4" href="?page={{ rezultati.paginator.num_pages }}&kviz=1">Zadnja</a>
			{% endif %}
		</div>
	</div>

{% endblock content %}
