{% extends "novosti/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %} <!--form security, django requires-->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Prijavi se!</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Prijava</button>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				Imate racun?
				<a class="ml-2" href="{% url 'login' %}">Ulogiraj se</a>
			</small>
		</div>
	</div>

{% endblock content %}