{% extends "novosti/base.html" %}

{% block content %}

	{% for member in team %}
		<div class="content-section media">
	    	<img class="rounded-circle account-img" src="{{ member.slika.url }}">
	    	<div class="media-body pt-4">
	      		<a class="account-heading article-title" href="{% url 'profil' member.korisnik %}">{{ member.korisnik }}</a>
	      		<p class="text-secondary">{{ member.ime }} {{member.prezime}}, Zanimanje: {{member.zanimanje}}</p>
	    	</div>
	  	</div>

	{% endfor %}

	{% if is_paginated %}

		{% if team.has_previous %}
			<a class="btn btn-outline-dark mb-4" href="?page=1">Prva</a>
			<a class="btn btn-outline-dark mb-4" href="?page={{ team.previous_page_number }}">Prethodna</a>
		{% endif %}

		{% for num in team.paginator.page_range %}
			{% if team.number == num %}
				<a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > team.number|add:'-3' and num < team.number|add:'3' %}
				<a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if team.has_next %}
			<a class="btn btn-outline-dark mb-4" href="?page={{ team.next_page_number }}">Sljedeca</a>
			<a class="btn btn-outline-dark mb-4" href="?page={{ team.paginator.num_pages }}">Zadnja</a>
		{% endif %}

	{% endif %}

{% endblock content %}
