.background{
  padding-left: 10%;
  padding-bottom: 2%;
  padding-top: 1%;
  padding-right: 10%;
  background-color: #5f788a22;
  overflow-wrap: break-word;
  word-break: break-all;
}

body{
  overflow: auto;
  margin: 0;
}
.sidenav {
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 2%;
  padding-right: 15px;

  background-color: white;
  min-height: 100vh;
  text-align: center;
}
.home-content{
  padding: 2%;
  background-color: white;
}

.nav-item{
  max-width: 100%;
}
.btn-light{
  background: white;
  border: white;
}

footer{
  background-color: #777;
  color: #fff;
  width: 100%;
  padding: 5px;
}


.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.rounded-circle{
  object-fit: cover;
}


.container-custom {
  position: relative;
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

/* Make the image responsive */
.container-custom img {
  width: 100%;
  height: auto;
}
.container-custom video {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container-custom .btn-custom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
